.my-albums__item
  a(href=`${coverUrl}` class="my-albums__item-cover-wrapper")
    .my-albums__item-spinner
      .my-albums__item-hover-text #{albumsText}
        .my-albums__item-hover-description #{albumsDescription}
        .my-albums__item-hover-num-wrapper
          span.my-albums__item-hover-num #{albumsImagesNumber}
          span.my-albums__item-hover-num-text #{albumsImagesText}
    img(class="my-albums__item-cover" src=`${coverImage}` alt="Album cover")
  .my-albums__item-footer
    a(class="my-albums__item-edit-link" href=`${editUrl}`)
      +icon('edit', ['my-albums__item-icon', 'my-albums__item-icon_edit'])
    a(class="my-albums__item-link" href=`${albumUrl}`)
      h3.my-albums__item-title #{albumsName}