include ../mixins/_icons

if iLike
  - var iLikeClass = 'liked'
else
  -var iLikeClass = ''

.description
  .description__info
    .author
      .author__photo
        img.author__img(src=`/${user.photo}` alt=`${user.name}`)
      .author__name #{user.name}
    .likes
      a.button.button--theme-secondary.button--icon-like(class= iLikeClass href="#" likeCode= _id)
        +icon('like')
        span.button--icon-text #{likes}

  .description__title !{title}
  .description__text !{description}