//-
  Миксин для добавления альбома в раздел "Новое в мире" (стр. photo_main)
  @param {albumName} - название альбома
  @param {coverImage} - путь к картинке альбома (первой картинке в альбоме)
  @param {coverUrl} - ссылка с картинки (на попап с слайдером)
  @param {albumUrl} - ссылка альбом
  @param {coverImageTitle} - название первого фото в альбоме
  @param {avatar} - путь к аватарке автора 
  @param {avatarUrl} - ссылка на профиль 
  @param {commentsNumber} - количество комментов
  @param {likesNumber} - количество лайков
  @example
   +photo-albums-item("Прогулки по воде", "assets/img/album-cover.jpg", "#",  "#", "Путешествие на лодке по озеру", "assets/img/avatar.jpg", "#",  "9", "15")

mixin photo-albums-item(albumName, coverImage, coverUrl, albumUrl, coverImageTitle, avatar, avatarUrl, commentsNumber, likesNumber)
  .photo-albums__item
    a(href=`${coverUrl}` class="open-slider photo-albums__item-cover-wrapper" data-modal-class="modal-slider")
      .photo-albums__item-spinner
        +icon('loupe', ['photo-albums__item-spinner-icon'])
      img(class="photo-albums__item-cover" src=`${coverImage}` alt="Album cover")
    .photo-albums__item-info-wrapper
      a(href=`${avatarUrl}` class="photo-albums__item-avatar-wrapper")
        .photo-albums__item-avatar-hover
          +icon('more', ['photo-albums__item-avatar-icon'])
        img(class="photo-albums__item-avatar" src=`${avatar}` alt="Avatar")
      .photo-albums__item-info
        p.photo-albums__item-title-img #{coverImageTitle}
        .photo-albums__item-meta
          a(class="photo-albums__item-comments" href="#")
            +icon('comments', ['photo-albums__item-icon', 'photo-albums__item-icon_comments'])
            span.photo-albums__item-comments-number #{commentsNumber}
          a(class="photo-albums__item-likes" href="")
            +icon('like', ['photo-albums__item-icon', 'photo-albums__item-icon_likes'])  
            span.photo-albums__item-likes-number #{likesNumber}
    .photo-albums__item-footer
      a(class="photo-albums__item-link" href=`${albumUrl}`)
        +icon('album', ['photo-albums__item-icon', 'photo-albums__item-icon_album'])  
        h3.photo-albums__item-title #{albumName}